{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <h1>Liste des Réservations</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Événement</th>
        </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.name }}</td>
                <td>{{ reservation.email }}</td>
                <td>{{ reservation.event.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune réservation trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
