{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur notre plateforme de gestion des réservations et événements</h1>
    <p>Commencez à organiser vos événements et gérer vos réservations !</p>
{% endblock %}
